@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Raleway'; */
  font-family: "Quicksand";
}
body {
  background: var(--color_white);
}
:root {
  --color_white: #f7f7f7;
  --color_Sky_Blue: #01acfd;
  --color_Orange: #fea301;
  --color_Black_111111: #111111;
  --color_Black_000000: #000000;
  --color_light_Sky_Blue: #05d4df;
  --color_blue: #5d58ef;
  --color_gray: #808080;
  --color_green: #95b226;
  --font56: 700 56px/61px "Quicksand";
  --font46: 700 46px/56px "Quicksand";
  --font42: 700 42px/46px "Quicksand";
  --font35: 700 35px/40px "Quicksand";
  --font32: 700 32px/40px "Quicksand";
  --font26: 700 26px/35px "Quicksand";
  --font25: 700 25px/30px "Quicksand";
  --font24: 700 24px/38px "Quicksand";
  --font20b: 700 20px/30px "Quicksand";
  --font20sb: 600 20px/25px "Quicksand";
  --font20m: 500 20px/25px "Quicksand";
  --font20: 400 20px/25px "Quicksand";
  --font16b: 700 16px/30px "Quicksand";
  --font16m: 500 16px/20px "Quicksand";
  --font16: 400 16px/20px "Quicksand";
  --font15b: 700 15px/28px "Quicksand";
  --font15: 500 15px/28px "Raleway";
  --font14: 500 14px/18px "Quicksand";
  --font10: 500 10px/18px "Raleway";
  --font10b: 700 10px/18px "Quicksand";
  --font9b: 700 9px/18px "Quicksand";
  --font9m: 500 9px/18px "Raleway";
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.primary_btn {
  border-radius: 12px;
  color: var(--color_white);
  background: var(--color_Black_111111);
  text-decoration: none;
  font: var(--font20b);
  padding: 10px;
  min-width: 197px;
  text-align: center;
  transition: 0.5s all;
  display: inline-block;
}
.primary_btn:hover {
  background: var(--color_Orange);
}
/* Header Section */
.header_top {
  background: var(--color_light_Sky_Blue);
  padding: 10px 0;
}
.header_top marquee {
  color: var(--color_Black_111111);
  font: var(--font20);
}
.header_main_box {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.logo img {
  max-width: 62px;
}
.logo span {
  display: inline-block;
  padding-left: 15px;
  color: var(--color_Black_111111);
  font: var(--font32);
}
.menu_bar {
  display: none;
}
.menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_list li {
  list-style: none;
}
.menu_list li a {
  text-decoration: none;
  display: inline-block;
  font: var(--font20m);
  padding: 10px 16px;
  transition: 0.5s all;
  color: var(--color_Black_111111);
}
.menu_list li.active a,
.menu_list li a:hover {
  font-weight: 700;
}
#home a {
  color: var(--color_Orange);
}
#about a {
  color: var(--color_Sky_Blue);
}
#facilities a {
  color: var(--color_light_Sky_Blue);
}
#admission a {
  color: var(--color_blue);
}
.header_main .primary_btn {
  background: var(--color_Orange);
  font-weight: 600;
}
.header_main .primary_btn:hover {
  background: var(--color_Black_111111);
}
/* Banner Section */
.banner_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_content {
  width: 60%;
  padding-right: 50px;
}
.banner_content h1 {
  color: var(--color_Black_111111);
  font: var(--font56);
  padding-bottom: 24px;
}
.banner_content h1 span {
  color: var(--color_Orange);
}
.banner_content h1 em {
  font-style: normal;
  color: var(--color_Sky_Blue);
}
.banner_content p {
  font: var(--font20);
  color: var(--color_Black_111111);
  padding-bottom: 24px;
}
.banner_img {
  width: 40%;
}
.banner_img img {
  max-width: 100%;
}
/* Curriculum Section */
.curriculum_sec {
  padding: 60px 0;
  text-align: center;
  background: url(../images/bg.png) no-repeat center center / cover;
}
.curriculum_sec h2 {
  font: var(--font46);
  color: var(--color_Black_111111);
}
.curriculum_box_container {
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
}
.curriculum_box {
  padding: 50px 40px;
}
#curriculum_box1 {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#curriculum_box2 {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#curriculum_box3 {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculum_box img {
  max-width: 136px;
  display: inline-block;
  margin-bottom: 40px;
  min-height: 136px;
  object-fit: contain;
}
.curriculum_box h5 {
  font: var(--font24);
  color: var(--color_Black_111111);
  margin-bottom: 30px;
}
.curriculum_box p {
  font: var(--font15);
  color: var(--color_gray);
  margin-bottom: 30px;
}
.curriculum_box a {
  text-decoration: none;
  font: var(--font15b);
  color: var(--color_Black_111111);
}
.curriculum_box a:hover {
  text-decoration: underline;
}
#curriculum_box1 a {
  color: var(--color_Sky_Blue);
}
#curriculum_box2 a {
  color: var(--color_Orange);
}
#curriculum_box3 a {
  color: var(--color_blue);
}
.btn_grp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn_grp li {
  list-style: none;
}
.btn_grp a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  background: var(--color_Orange);
  color: var(--color_white);
  font: var(--font26);
  transition: 0.5s all;
}
.btn_grp a:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
/* Story Section */
.story_sec {
  padding: 60px 0;
  background: url(../images/bg.png) no-repeat center center / cover, url(image),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.story_sec h2 {
  text-align: center;
  font: var(--font46);
  color: var(--color_Black_111111);
}
.story_sec img {
  width: 100%;
  transition: 0.5s all;
}
.btn-center {
  text-align: center;
}
.story_container {
  padding: 80px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.story_box,
.story_mini_item {
  width: calc(50% - 10px);
}
.story_mini_container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
#storybox1,
.story_mini_item {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.story_text,
.story_mini_text {
  position: relative;
}
.story_text small,
.story_mini_text small {
  color: var(--color_white);
  font: var(--font15);
  background: var(--color_green);
  display: inline-block;
  padding: 5px 20px;
  border-radius: 100px;
  position: absolute;
}
.story_text small {
  padding: 10px 20px;
  background: var(--color_light_Sky_Blue);
  top: -24px;
  left: 50px;
}
.story_mini_text small {
  top: -20px;
  left: 40px;
}
.story_text {
  padding: 60px 50px 40px;
}
.story_text h4 {
  font: var(--font24);
  padding-bottom: 35px;
  color: var(--color_Black_000000);
}
.story_text p {
  font: var(--font15);
  color: var(--color_gray);
}
.story_mini_text {
  padding: 40px;
}
.story_mini_text h6 {
  color: var(--color_Black_000000);
  font: var(--font15b);
}
#story_mini_2 small,
#story_mini_5 small,
#story_mini_6 small {
  background: var(--color_blue);
}
.box_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#storybox1:hover img,
.story_mini_item:hover img {
  transform: scale(1.2);
}
.story_mini_item_img {
  display: flex;
  overflow: hidden;
}
#story_mini_5,
#story_mini_6 {
  display: none;
}
/* Footer Section */
.footer_sec {
  padding: 120px 0 150px;
  background: var(--color_Sky_Blue);
}
.footer_box {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer_part1 {
  width: 50%;
  padding-right: 175px;
}
.footer_part2 {
  width: 30%;
}
.footer_part3 {
  width: 20%;
}
.footer_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 35px;
}
.footer_logo img {
  max-width: 80px;
}
.footer_logo span {
  font: var(--font42);
  color: #fff;
}
.footer_part p {
  font: var(--font20);
  color: #fff;
}
.footer_part h6 {
  color: #fff;
  font: var(--font24);
  margin-bottom: 30px;
}
.footer_menu_list li {
  list-style: none;
  margin-bottom: 20px;
}
.footer_menu_list a {
  text-decoration: none;
  color: #fff;
  font: var(--font20m);
}
.footer_menu_list a:hover {
  text-decoration: underline;
}
.social_list {
  display: flex;
  align-items: center;
  justify-content: start;
}
.social_list li {
  list-style: none;
  margin-right: 10px;
}
.social_list a {
  display: inline-block;
}
.social_list img {
  max-width: 40px;
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  :root {
    --font56: 700 50px / 61px "Quicksand";
    --font20b: 700 18px / 30px "Quicksand";
    --font20sb: 600 18px / 25px "Quicksand";
    --font20m: 500 18px / 25px "Quicksand";
    --font20: 400 18px / 25px "Quicksand";
    --font46: 700 40px/48px "Quicksand";
    --font24: 700 21px/30px "Quicksand";
    --font15: 500 13px/22px "Raleway";
    --font15b: 700 13px/22px "Quicksand";
  }
  /* Curriculum Section */
  .curriculum_box_container {
    padding: 40px 0;
  }
  .curriculum_box img {
    max-width: 110px;
    min-height: 110px;
  }
  .btn_grp a {
    width: 40px;
    height: 40px;
    font-size: 21px;
  }
  /* Story Section */
  .story_container {
    padding: 40px 0;
  }
  .story_mini_text {
    padding: 30px;
  }
  .story_mini_text small {
    top: -20px;
    left: 30px;
  }
  .story_text {
    padding: 40px 30px 30px;
  }
  .story_text small {
    left: 30px;
  }
  .curriculum_box {
    padding: 40px 25px;
  }
  /* Footer Section */
  .footer_sec {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  :root {
    --font56: 700 38px / 45px "Quicksand";
    --font20b: 700 17px / 30px "Quicksand";
    --font20sb: 600 17px / 25px "Quicksand";
    --font20m: 500 17px / 25px "Quicksand";
    --font20: 400 17px / 25px "Quicksand";
    --font46: 700 34px/40px "Quicksand";
    --font42: 700 34px/40px "Quicksand";
  }
  /* Header Section */
  .header_main {
    border-bottom: 0.5px solid var(--color_Orange);
  }
  .header_top marquee {
    font: var(--font16);
  }
  .header_main_box {
    padding: 12px 0;
  }
  .logo img {
    max-width: 50px;
  }
  .logo span {
    display: none;
  }
  .header_main .primary_btn {
    display: none;
  }
  .menu_bar {
    display: block;
    color: var(--color_Black_111111);
    font: var(--font32);
    padding: 5px 0;
  }
  .nav_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
    z-index: 9;
  }
  /* .menu_bar:hover + .nav_menu {
    visibility: visible;
    opacity: 1;
  } */
  .menu_list {
    flex-wrap: wrap;
    background: #f7f7f7;
  }
  .menu_list li {
    width: 100%;
  }
  .menu_list li a {
    width: 100%;
  }
  .menu_list li a:hover {
    background: rgba(254, 163, 1, 0.2);
  }
  /* Curriculum Section */
  .curriculum_box {
    padding: 20px;
    width: calc(50% - 14px);
  }
  .curriculum_box img,
  .curriculum_box p {
    margin-bottom: 20px;
  }
  .curriculum_box h5 {
    margin-bottom: 15px;
  }
  .curriculum_box_container {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Story Section */
  #storybox1 {
    display: none;
  }
  .story_box {
    width: 100%;
  }
  .story_mini_text {
    padding: 25px 15px;
  }
  .story_mini_text small {
    left: 15px;
  }
  #story_mini_5,
  #story_mini_6 {
    display: block;
  }
  /* Footer Section */
  .footer_part1 {
    padding-right: 50px;
  }
  .footer_part2,
  .footer_part3 {
    width: 25%;
  }
  .social_list img {
    max-width: 32px;
  }
  .footer_logo img {
    max-width: 70px;
  }
  .footer_logo {
    margin-bottom: 15px;
  }
  .footer_part h6 {
    margin-bottom: 20px;
  }
  .footer_menu_list li {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --font56: 700 32px / 40px "Quicksand";
    --font20b: 700 15px / 30px "Quicksand";
    --font20sb: 600 15px / 25px "Quicksand";
    --font20m: 500 15px / 25px "Quicksand";
    --font20: 400 15px / 25px "Quicksand";
    --font46: 700 30px/38px "Quicksand";
    --font15: 500 12px/22px "Raleway";
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .primary_btn {
    padding: 6px 10px;
    min-width: 130px;
  }
  /* Header Section */
  .header_top {
    padding: 5px 0;
  }
  /* Banner Section */
  .banner_content {
    padding-right: 15px;
  }
  .banner_content h1,
  .banner_content p {
    padding-bottom: 15px;
  }
  .curriculum_box {
    padding: 20px 5px;
  }
  /* Footer Section */
  .footer_sec {
    padding: 60px 0 40px;
  }
  .footer_box {
    flex-wrap: wrap;
  }
  .footer_part2,
  .footer_part3 {
    width: 50%;
  }
  .footer_part {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  :root {
    --font20: 400 14px / 22px "Quicksand";
    --font46: 700 26px/32px "Quicksand";
    --font15b: 700 10px/18px "Quicksand";
    --font15: 500 9px/16px "Raleway";
  }
  /* Banner Section */
  .banner_box {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px 0;
  }
  .banner_content,
  .banner_img {
    width: 100%;
  }
  .banner_content {
    padding: 10px 0 0 0;
  }
  /* Curriculum Section */
  .curriculum_sec {
    padding: 40px 0;
  }
  .curriculum_box_container {
    gap: 12px;
    padding: 20px 0 0;
  }
  .curriculum_box {
    width: 100%;
  }
  .btn_grp {
    display: none;
  }
  .curriculum_box a {
    font-size: 12px;
  }
  .curriculum_box p {
    font-size: 12px;
    line-height: 20px;
  }
  /* Story Section */
  .story_sec {
    padding: 40px 0;
  }
  .story_container {
    padding: 20px 0;
  }
  .story_mini_text small {
    padding: 5px 10px;
  }
  .story_mini_text {
    padding: 15px;
  }
  .story_mini_text small {
    top: -15px;
  }
  /* Footer Section */
  .footer_part1,
  .footer_part2,
  .footer_part3 {
    width: 100%;
  }
  .footer_part1 {
    padding-right: 0;
  }
  .footer_sec {
    padding: 40px 0 20px;
  }
  .footer_menu_list li:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --font56: 700 28px / 36px "Quicksand";
    --font15b: 700 8px/18px "Quicksand";
  }
}
